<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/plantilla}">
<head>

  <title>home</title>

</head>

<body class="bg-gradient-primary">

<!-- Aqui vamos a escribir el contenido de los bloques  -->
<div layout:fragment="contenido" >

  <!-- Busqueda Section -->
  <section id="busqueda" class="busqueda features section">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-1"></div>

        <div class="col-lg-2 col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="features-item">
            <i class="bi bi-camera" style="color: #ffbb2c;"></i>
            <h3><a href="" class="stretched-link">Imágenes</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-2 col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="features-item">
            <i class="bi bi-camera-video" style="color: #5578ff;"></i>
            <h3><a href="" class="stretched-link">Videos</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-2 col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="features-item">
            <i class="bi bi-music-note-beamed" style="color: #e80368;"></i>
            <h3><a href="" class="stretched-link">Audios</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-2 col-md-4" data-aos="fade-up" data-aos-delay="400">
          <div class="features-item">
            <i class="bi bi-card-image" style="color: #e361ff;"></i>
            <h3><a href="" class="stretched-link">Vectores</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-2 col-md-4" data-aos="fade-up" data-aos-delay="500">
          <div class="features-item">
            <i class="bi bi-box" style="color: #47aeff;"></i>
            <h3><a href="" class="stretched-link">Modelos 3D</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-1"></div>
      </div>
    </div>

    <div class="container">
      <form class="buscador-form" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-4">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <input type="search" id="buscador" name="buscador" class="form-control focus-ring focus-ring-success" placeholder="Buscador" required="">
          </div>
          <div class="col-lg-1"></div>
        </div>
      </form>

    </div>
  </section><!-- /Busqueda Section -->

  <!-- Courses Section -->
  <section id="courses" class="courses section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contenido</h2>
      <p>Contenido Popular</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="masonry">
        <div
                class="masonry-item"
                th:each="imagen, iterStat : ${imagenes}"
                data-aos="fade-up"
                th:attr="data-aos-delay=${iterStat.index * 100}"
        >
          <a th:href="'/imagenes/imagen' + ${iterStat.index}">
            <img th:src="${imagen}" alt="Imagen dinámica" />
          </a>
        </div>
      </div>

    </div>

  </section><!-- /Courses Section -->
</div>
<!-- Fin ventanas que rellena java-->
</body>

</html>