<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/plantilla}">
<head>

  <title>signin</title>

</head>

<body class="bg-gradient-primary">

<div layout:fragment="contenido">
  <!-- Page Title -->
  <div class="page-title" data-aos="fade">
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a th:href="@{/}">Inicio</a></li>
          <li class="current">Registrarse</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Page Title -->

  <!-- Contact Section -->
  <section id="contact" class="contact section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div>
        <form class="emailForm" data-aos="fade-up" data-aos-delay="200" th:action="@{/registrarse}" method="post" th:object="${usuario}">
          <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" class="form-control" name="nombre" th:field="*{nombre}" placeholder="Nombre" required="">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="apellidos" th:field="*{apellidos}" placeholder="Apellidos" required="">
            </div>

            <div class="col-md-6">
              <input type="email" class="form-control" name="email" th:field="*{email}" placeholder="Email" required="">
            </div>

            <div class="col-md-6">
              <input type="text" class="form-control" name="nickname" th:field="*{nickname}" placeholder="Nickname" required="">
            </div>

            <div>
              <input type="password" class="form-control" name="password" th:field="*{password}" placeholder="Contraseña" required="">
            </div>

            <div>
              <input type="password" class="form-control" name="confirmPassword" placeholder="Confirmar contraseña" required="">
            </div>


            <div class="text-center">
              <div class="loading">Cargando</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Registrarse</button>
            </div>
          </div>
        </form>
      </div><!-- End Contact Form -->
    </div>

  </section><!-- /Contact Section -->
</div>

</body>

</html>